body {
  background-color: #dbe1ff;
  font-family: "Poppins", sans-serif;
}

#box-element {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 21px 50px rgba(20, 34, 71, 0.171);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
}

header {
  text-align: center;
}

.search-box {
  background-color: #dbe1ff98;
  border: none;
  border-radius: 11px;
  font-family: "Play", sans-serif;
  font-size: 15px;
  font-style: italic;
  margin: 0 5px 30px 0;
  padding: 15px 110px 15px 110px;
  text-align: center;
}

.search-button {
  background-color: #1a296b;
  border: none;
  border-radius: 11px;
  color: #fff;
  font-family: "Play", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  transition: 200ms ease-in-out;
}

.search-button:hover {
  background-color: #0d1640;
}

#main-one {
  border-top: 2px solid #dbe1ffad;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.country-name {
  font-family: "Rubik Scribble", "Poppins";
  font-size: 47px;
  margin: 11px 27px;
}

.weather-emoji {
  font-size: 110px;
  margin: 0px 80px;
}

#temp-weather-details {
  font-size: 25px;
  /*  left: 393px;
  bottom: 240px;
  position: relative; */
}

#main-two {
  border-bottom: 2px solid #dbe1ffad;
  padding-bottom: 15px;
}
